@mixin show-top-menu-styles() {
	display: block !important;
	position: fixed;
	width: 100%;
	z-index: 10;
	margin-right: 0;
}

.red-bold {
	color: red;
	font-weight: 600;
}
.space:before {
	content: " ";
}